<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <!-- 配置SpringMVC -->
    <!-- 1.开启SpringMVC注解模式 -->
    <!-- 简化配置：
        (1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter
        (2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持
    -->
    <mvc:annotation-driven/>

    <!-- 2.静态资源默认servlet配置
        (1)加入对静态资源的处理：js,gif,png
        (2)允许使用"/"做整体映射
     -->
    <mvc:default-servlet-handler/>

    <!-- 3.配置HTML 显示ViewResolver -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/"/>
    </bean>
    <bean id="htmlViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="suffix" value=".html"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="order" value="0"/>
    </bean>

    <!-- 4.配置jsp 显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
        <!-- 不能用jstl的那个 -->
        <property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="order" value="0"/>
    </bean>

    <!-- 5.扫描 web 相关的bean -->
    <context:component-scan base-package="com.menglin.controller"/>

    <!-- 配置静态资源 -->
    <mvc:resources mapping="/css/**/*" location="/css/"/>
    <mvc:resources mapping="/js/**/*" location="/js/"/>
    <mvc:resources mapping="/generic/web/**/*" location="/generic/web/"/>
    <mvc:resources mapping="/pdfs/**/*" location="/pdfs/"/>

    <!--6.拦截器: 只能拦截 Ajax 请求即所有 controller，不能拦截静态资源请求 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->
            <mvc:mapping path="/**/*"/>
            <!-- /register/* 和 /login 不需要拦截-->
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/register/student"/>
            <mvc:exclude-mapping path="/register/teacher"/>
            <mvc:exclude-mapping path="/college/list"/>
            <mvc:exclude-mapping path="/major/list"/>
            <mvc:exclude-mapping path="/classTeam/list"/>
            <mvc:exclude-mapping path="/file/taskAttachment"/>
            <mvc:exclude-mapping path="/file/taskAnswerAttachment"/>
            <!--spring-mvc-3.2.xsd 下面才不会报错-->
            <!--防止静态文件被拦截-->
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <mvc:exclude-mapping path="/**/*.pdf"/>
            <mvc:exclude-mapping path="/**/*.html"/>
            <bean class="com.menglin.interceptor.JWTCheckInterceptor"/>
        </mvc:interceptor>
        <!-- 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 -->
    </mvc:interceptors>

    <!-- 7.上传文件配置: maxUploadSize【20MB】resolveLazily:【推迟文件解析，以便捕获文件大小异常】 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20971520"/>
        <property name="maxInMemorySize" value="40960"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
    </bean>
</beans>